<a href="https://www.bigdatauniversity.com"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Working with Db2 Databases in JupyterLab Notebooks</font></h1>

#### By the end of this notebook, you will know how to connect to Db2 databases, issue SQL commands and queries to them, and parse the results into Python variables.

#### Don't have a database to practice with? You can provision a Db2 database for free with an IBM Cloud Lite account. Make sure to [sign up for IBM Cloud through Cognitive Class](https://courses.cognitiveclass.ai/dashboard) to get **$1200 USD** worth of IBM Cloud credit.

##### To communicate with SQL Databases from within a JupyterLab notebook, we can use the SQL "magic" provided by the [ipython-sql](https://github.com/catherinedevlin/ipython-sql). "Magic" is JupyterLab's term for special commands that start with "%". Below, we'll use the load magic to load ipython-sql.

In [ ]:
%load_ext sql

Now we have access to SQL magic. With our first SQL magic command, we'll connect to a Db2 database. In order to do that, you'll need to retrieve or create your credentials to access your Db2 database.
If you haven't previously created credentials, you will need to create them under the **Service credentials** section.

<a ><img src = "https://ibm.box.com/shared/static/09wbxvl2bby1gghstb3cyb1n2hsaeprc.png" width = 1000, align = "center"></a>

<h5> After creating your service credentials, you can click the copy icon to copy them. Paste them in the cell below, replacing the placeholder credentials. 
</h5> 
<a><img src = "https://ibm.box.com/shared/static/x919wryoofvgy8pkfgxovhxo8ay9ehz3.png" width = 1000, align = "center"></a>
<h5>  After pasting your credentials, you can run the cell to connect to your database.
</h5>

In [ ]:
# Replace the below connection info with your credentials, then run this cell
connection_info = {
  "port": 50000,
  "db": "BLUDB",
  "username": "username",
  "ssljdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50001/BLUDB:sslConnection=true;",
  "host": "dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net",
  "https_url": "https://dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net",
  "dsn": "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=username;PWD=password;",
  "hostname": "dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net",
  "jdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB",
  "ssldsn": "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net;PORT=50001;PROTOCOL=TCPIP;UID=username;PWD=password;Security=SSL;",
  "uri": "db2://username:password@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB",
  "password": "password"
}

connection_string = "ibm_db_sa://{0}:{1}@{2}:{3}/{4}".format(
    connection_info['username'], 
    connection_info['password'], 
    connection_info['hostname'], 
    connection_info['port'], 
    connection_info['db']
)

%sql $connection_string

For demonstration purposes, we'll populate a table (using the `PERSIST` command) with data on worldwide alcohol consumption from *FiveThirtyEight* (via Quilt).

In [ ]:
import quilt
quilt.install("akarve/fivethirtyeight", force=True)
from quilt.data.akarve import fivethirtyeight

alcohol_consumption = fivethirtyeight.alcohol_consumption.drinks()
%sql PERSIST alcohol_consumption

If you would like to explore more data sets using quilt, try clicking the *Quilt Data* tab on the left side of your screen.

#### Using Python Variables in your SQL Statements
You can use python variables in your SQL statements by adding a ":" prefix to your python variable names.
For example, if I have a python variable `country` with a value of `"Canada"`, I can use this variable
in a SQL query to find Canada's alcohol consumption.

In [ ]:
country = "Canada"
%sql select * from alcohol_consumption where country = :country

#### Assigning the Results of Queries to Python Variables

You can use the normal python assignment syntax to assign the results of your queries to python variables.
For example, I have a SQL query to retrieve the country that drinks the most wine.
I can assign the result of this query to the variable `top_wine_drinker` using the `=` operator (don't forget the "%sql" magic).

In [ ]:
top_wine_drinker = %sql SELECT country, wine_servings from alcohol_consumption ORDER BY wine_servings DESC LIMIT 1
top_wine_drinker

#### Converting Query Results to Pandas DataFrames

SQL query results can easily be converted to pandas dataframes using the `DataFrame` method

In [ ]:
top_wine_drinker_df = top_wine_drinker.DataFrame()
print('The country that consumes the most wine is {} at {} glasses per person, per year.'.format(top_wine_drinker_df['country'][0], top_wine_drinker_df['wine_servings'][0]))

Now you know how to work with Db2 from within your JupyterLab notebooks!

In [ ]:
%%sql 

-- Feel free to experiment with the data set provided in this notebook for practice:
SELECT country, beer_servings, spirit_servings, wine_servings, total_litres_of_pure_alcohol FROM alcohol_consumption;

Copyright &copy; 2018 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).